{% extends 'accounts/base_account.html' %}


{% block title %}
    Reset password | {{ block.super }}
{% endblock %}


{% block content %}

    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center mb-5">Reset password</h1>

                <form action="{% url 'reset_password' %}" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp">
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg btn-block my-4">Reset password</button>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
