{% extends 'blog/base_blog.html' %}

{% block title %}
Sign in
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-8 offset-md-1">

                <h2 class="mb-5 text-center">Login</h2>

                <form method="post" action="">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="exampleInputUsername">Username</label>
                        <input type="text" name="username" class="form-control" id="exampleInputUsername"
                               placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword"
                               placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-lg btn-primary btn-block mt-4">Login</button>

                </form>

                {% for message in messages %}
                    <div class="alert alert-danger mt-2 text-center" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                <p class="text-center mt-3">
                    Don`t have an account? <a href="{% url 'register_url' %}">Registration</a>
                </p>
                <p class="text-center mt-2">Don`t remember password? <a href="#">Recover Password</a></p>


            </div>
        </div>
    </div>

{% endblock %}
